

 /**************************
*
*	GENERAL
*
**************************/


.slider_wrapper {
	position: relative;
	text-align: left;
}

.camera_target_content {
	overflow: visible !important;

}

#camera_wrap {
display: none; 
}

.camera_wrap {
	display: none;
	position: relative;
	overflow: visible !important;
	z-index: 0;
	margin-bottom: 0 !important;
}


.camera_wrap img {
	max-width: 10000px;
}

.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
}

.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_commands > .camera_stop {
	display: none;	
}
.camera_thumbs_cont {
	z-index: 900;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.camera_thumbs_cont > div {
	float: left;
	width: 100%;

}

.camera_thumbs_cont ul li:hover, .camera_thumbs_cont ul li.cameracurrent {
	opacity: 0.5;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
	text-align: right;
}

.camera_pag  {
display: block;
position: absolute;
bottom: 15%;
left: 50%;
margin-left: -50px;
/* right: 50%; */
/* margin: 0 -586px 0 0; */
overflow: hidden;
z-index: 999;
font-size: 0;
line-height: 0;
text-align: center;
}

.camera_pag_ul {
 	overflow: hidden;


}

.camera_pag ul li {
	display: inline-block;
	margin-left: 10px;
}

.camera_pag ul li+li {
	margin-left: 7px;
}


@media only screen and (max-width: 1499px) {
  
}


@media only screen and (max-width: 1199px) {





}
@media only screen and (max-width: 979px) {

}
@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 479px) { 


}

@media only screen and (max-width: 320px) {


}

 @media (max-width: 767px) { 
 	
}
			

