@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
@import "animate.css";

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fa.ttf') format('truetype');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  outline: none;
}
body {
  background: #ffffff;
  color: #c0c0c0;
  font: 14px/23px Arial, Tahoma, Helvetica, Verdana;
  font-weight: 400;
}
img {
  max-width: 100%;
}
@media (max-width: 767px) {
  img {
    width: 100%;
  }
}
a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
ol,
ul {
  list-style: none;
}
.clear {
  clear: both;
}
#content {
  overflow: hidden;
}
.header-top-bottom {
  height: 26px;
  background-color: #ececec;
}
.grey_bottom_edge {
  position: relative;
}
.grey_bottom_edge:after {
  position: absolute;
  bottom: -8px;
  width: 100%;
  content: '';
  display: block;
  height: 8px;
  background: url('../images/grey_bottom_edge.png') repeat-x;
}
.padding-edge {
  padding-top: 16px;
}
.align-center {
  text-align: center;
}
.texture-back {
  background: url('../images/header_texture.jpg') 0 bottom no-repeat;
}
@media (max-width: 767px) {
  .texture-back {
    background-size: cover;
  }
}
/*========================================================
                    header
=========================================================*/
.header-logo .icon {
  border-radius: 500px;
  width: 83px;
  height: 83px;
  margin: 0 auto;
  background-color: #f57e20;
}
.header-logo .icon .fa {
  color: #ffffff;
  font-size: 30px;
  line-height: 83px;
}
.header-logo h1 {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 76px;
  line-height: 34px;
  color: #212121;
  padding-top: 42px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (max-width: 479px) {
  .header-logo h1 {
    line-height: 70px;
  }
}
.header-logo .logo-quote {
  font-family: Open Sans;
  color: #979797;
  font-size: 19px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 30px;
}
.header-logo a {
  display: inline-block;
}
.header-logo a:hover h1 {
  color: #e74c3c;
}
.header-back {
  padding-top: 40px;
}
.header-navigation {
  margin-top: 75px;
}
@media only screen and (max-width: 767px) {
  .header-navigation {
    margin-top: 19px;
    margin-bottom: 11px;
  }
}
/*========================================================
                    menu
=========================================================*/
nav ul {
  display: inline-block;
}
.sf-menu {
  background-color: #ffffff;
  border-top: 1px #e2e2e2 solid;
  border-bottom: 1px #e2e2e2 solid;
  border-left: 1px #e2e2e2 solid;
  border-right: 1px #e2e2e2 solid;
}
.sf-menu > li {
  float: left;
  position: relative;
  margin: 0 0px 0 0;
  border-right: 1px #e2e2e2 solid;
}
.sf-menu > li:last-child {
  border: none;
}
.sf-menu > li > a {
  display: inline-block;
  padding: 27px 79px;
  color: #212121;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 14px;
  line-height: 43px;
  font-family: Open Sans, Tahoma, Helvetica, Arial, Verdana;
  font-weight: 600;
}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a {
  background-color: #eaebeb;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/*
.sf-menu > li.current > a, .sf-menu > li.sfHover > a {
  tu cos kmin
 
}*/
.sf-menu > li.current > a {
  background-color: #f57e20;
  color: #ffffff;
}
.sf-menu > li.current > a:visited {
  background-color: #f57e20;
  color: #ffffff;
}
.sf-menu > li.sfHover > a:after {
  visibility: visible;
  opacity: 100;
  top: 0;
  bottom: 0;
}
.sf-menu a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  position: absolute;
  top: 97px;
  left: 0px;
  background: #ffffff;
  padding: 9px -2px;
  width: 221px;
  z-index: 2;
  display: none;
  padding-top: 36px;
  padding-bottom: 29px;
  background-color: #ffffff;
  padding-left: -4px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 979px) {
  .sf-menu ul {
    left: -47px;
  }
}
.sf-menu ul li {
  line-height: 28px;
  position: relative;
}
.sf-menu ul li.sfHover > a {
  color: light_blue;
}
.sf-menu ul li a {
  font-size: 14px;
  line-height: 15px;
  color: #464646;
  text-decoration: none;
  font-family: Open Sans, Tahoma, Helvetica, Arial, Verdana;
  font-weight: 600;
}
.sf-menu ul li a:hover {
  color: #e74c3c;
}
.sf-menu ul li a:hover {
  color: #e74c3c;
}
.sf-menu ul li.sfHover > a {
  text-decoration: none;
  color: #e74c3c;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  position: absolute;
  top: -9px;
  left: 246px;
  background-color: #f57e20;
  z-index: 1;
  padding-top: 31px;
  padding-left: -12px;
  padding-bottom: 22px;
}
.sf-menu ul ul:before {
  content: "";
  display: block;
  position: absolute;
  border: 7px solid transparent;
  border-right: 7px solid #f57e20;
  left: -14px;
  top: 20px;
}
@media only screen and (max-width: 979px) {
  .sf-menu ul ul {
    left: 206px;
  }
}
.sf-menu ul ul li {
  line-height: 28px;
}
.sf-menu ul ul li a {
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  font-family: Open Sans, Tahoma, Helvetica, Arial, Verdana;
  font-weight: 600;
}
.sf-menu ul ul li a:hover {
  color: #212121;
}
.current {
  background-color: #f57e20;
  color: #ffffff !important
}
@media only screen and (max-width: 1199px) {
  .sf-menu > li > a {
    padding: 27px 50px;
  }
}
@media only screen and (max-width: 979px) {
  .sf-menu > li > a {
    padding: 27px 33px;
  }
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
    float: none;
  }
  .select-menu {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}
/* Stuck menu styles
========================================================*/
.isStuck {
  padding: 0px 0;
  padding-bottom: 5px;
  z-index: 999;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  width: 100%
}
.isStuck .header-navigation {
  margin-top: 0px;
}
.isStuck .sf-menu > li > a {
  padding: 0px 79px;
  margin-top: -3px;
}
.isStuck .sf-menu ul {
  position: absolute;
  top: 41px;
}
.isStuck .sf-menu ul ul {
  top: -18px;
}
.isStuck .sf-menu {
  border-bottom: none;
}
@media only screen and (max-width: 1199px) {
  .isStuck {
    display: none !important;
  }
}
.pt64 {
  padding-top: 64px;
}
.white_top_edge {
  position: relative;
}
.white_top_edge:before {
  position: absolute;
  top: -8px;
  width: 100%;
  content: '';
  display: block;
  height: 8px;
  background: url('../images/white_top_edge.png') repeat-x;
}
.white_bottom_edge {
  position: relative;
}
.white_bottom_edge:before {
  position: absolute;
  bottom: -8px;
  width: 100%;
  content: '';
  display: block;
  height: 8px;
  background: url('../images/white_bottom_edge.png') repeat-x;
  z-index: 111;
}
.back-orange {
  background-color: #e74c3c;
}
.back-dark {
  background-color: #212121;
}
/*========================================================
                    block wrapper1
=========================================================*/
.wrapper1 {
  padding-bottom: 99px;
  display:block;
  margin: 0 auto;
}
.wrapper1 .circle {
  width: 220px;
  height: 220px;
  border-radius: 500px;
  float: left;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 300;
  margin-left: 14%;
  margin-top: 20px;
  overflow: hidden;
}
.wrapper1 .circle p {
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .wrapper1 .circle {
    float: none;
    margin: 0 auto !important;
  }
}
.wrapper1 .wrap-info {
  padding-top: 60px;
  padding-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .wrapper1 {
    padding-bottom: 0;
  }
}
/*========================================================
                    titles
=========================================================*/
.dark-2-title {
  font-size: 40px;
  color: #212121;
  font-weight: 300;
  font-family: Open Sans;
  text-transform: uppercase;
  line-height: 40px;
}
@media only screen and (max-width: 1199px) {
  .dark-2-title {
    font-size: 30px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 979px) {
  .dark-2-title {
    font-size: 25px;
    line-height: 25px;
  }
}
.dark-2-title-2 {
  font-size: 30px;
  color: #212121;
  font-weight: 300;
  font-family: Open Sans;
  text-transform: uppercase;
  line-height: 40px;
  padding-top: 35px !important;
  padding-bottom: 16px;
}
@media only screen and (max-width: 979px) {
  .dark-2-title-2 {
    font-size: 25px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 479px) {
  .dark-2-title-2 {
    font-size: 15px;
    line-height: 15px;
  }
}
.orange-2-title {
  font-size: 40px;
  color: #f57e20;
  font-weight: 300;
  font-family: Open Sans;
  text-transform: uppercase;
  line-height: 40px;
}
@media only screen and (max-width: 479px) {
  .orange-2-title {
    font-size: 25px;
    line-height: 25px;
  }
}
.orange-3-title {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #f57e20;
  font-family: Open Sans;
  padding-top: 19px;
  padding-bottom: 17px;
}
.orange-3-title a {
  color: #e74c3c;
}
.orange-3-title a:hover {
  color: #212121;
}
@media only screen and (max-width: 479px) {
  .orange-3-title {
    font-size: 15px;
    line-height: 15px;
  }
}
.no-pt {
  padding-top: !important;
}
.pb160 {
  padding-bottom: 160px;
}
/*========================================================
                    block simple wrap 3
=========================================================*/
.simple-wrap-3 {
  padding-top: 78px;
  padding-bottom: 83px;
}
.simple-wrap-3 .circle-icon {
  width: 128px;
  height: 128px;
  background-color: #212121;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  margin: 0 auto;
  border-radius: 500px;
  line-height: 128px;
}
.simple-wrap-3 .circle-icon .fa {
  line-height: 128px;
}
.simple-wrap-3 h2 {
  padding: 30px 46px 37px;
}
.simple-wrap-3 p {
  padding: 0 7px;
}
@media only screen and (max-width: 767px) {
  .simple-wrap-3 p {
    padding-bottom: 15px;
  }
}
.grey_top_edge {
  position: relative;
}
.grey_top_edge:before {
  position: absolute;
  top: -8px;
  width: 100%;
  content: '';
  display: block;
  height: 8px;
  z-index: 3;
  background: url('../images/grey_top_edge.png') repeat-x;
}
/*========================================================
                    circle link
=========================================================*/
.circle-more {
  width: 98px;
  height: 98px;
  background-color: #f57e20;
  display: inline-block;
  border-radius: 500px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Open Sans;
  line-height: 98px;
  z-index: 200;
}
.circle-more:hover {
  background-color: #212121;
}

.active {
	background-color: #212121;
}

.grey-back {
  background-color: #ececec !important;
}
.conf-pad {
  padding-top: 64px;
  padding-bottom: 162px;
}
@media only screen and (max-width: 767px) {
  .conf-pad {
    padding-bottom: 60px;
  }
}
.conf-pad2 {
  padding-bottom: 61px;
}
/*========================================================
                    block simple wrap4
=========================================================*/
.simple-wrap4 {
  padding-top: 27px;
  padding-bottom: 120px;
}
.simple-wrap4 .post {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 72px;
}
.simple-wrap4 .post h2 {
  padding: 39px 20px 0px;
}
@media only screen and (max-width: 1199px) {
  .simple-wrap4 .post h2 {
    padding: 39px 22px 0px;
  }
}
.simple-wrap4 .post h3 {
  padding: 16px 0 10px;
}
.simple-wrap4 .post p {
  padding: 0 16px;
}
.simple-wrap4 .post a {
  position: absolute;
  left: 50%;
  margin-left: -49px;
  bottom: -59px;
}
.simple-wrap4 .post .to-bottom {
  bottom: -54px;
}
.simple-wrap4 .post .to-bottom2 {
  bottom: -132px;
}
.simple-wrap4 .post .to-bottom3 {
  bottom: -132px;
}
@media only screen and (max-width: 767px) {
  .simple-wrap4 .post {
    margin-bottom: 90px;
  }
}
.texture-back2 {
  background: url('../images/texture_back3.jpg') 0 bottom no-repeat;
}
@media (max-width: 767px) {
  .texture-back2 {
    background-size: cover;
  }
}
/*========================================================
                    footer
=========================================================*/
.footer {
  color: #9fa6ae;
  font-size: 15px;
  font-family: Open Sans;
  padding-top: 30px;
  padding-left: 35px;
}
@media only screen and (min-width: 767px) {
  .footer .row {
    display: flex;
    justify-content: center;
  }
  .footer .row > div+div {
    margin-left:2vw;
  }
}

footer .footer-link {
  color: #9fa6ae;
  white-space: nowrap;
}
footer .footer-link:hover {
  color: #f57e20;
}
@media only screen and (max-width: 767px) {
.footer-socials {
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  footer img {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  footer .align-center {
    text-align: left;
    padding-top: 10px;
  }
}
/*========================================================
                    totop
=========================================================*/
/* UItoTop styles
========================================================*/
#toTop {
  width: 48px;
  height: 48px;
  font-size: 10px;
  line-height: 46px;
  color: #fff;
  background: #f57e20;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 40px;
  bottom: 60px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
#toTop:hover {
  background: #1f2531;
  text-decoration: none;
}
@media only screen and (max-width: 1199px) {
  #toTop {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  #toTop {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  #toTop {
    display: none !important;
  }
}
.conf-pad3 {
  padding-top: 94px;
}
.simple-wrap2 {
  padding-top: 43px;
  padding-bottom: 87px;
}
.simple-wrap2 .post {
  position: relative;
  padding-bottom: 34px;
}
.simple-wrap2 .post h2 {
  padding: 39px 20px 0px;
}
.simple-wrap2 .post h3 {
  padding: 16px 0 10px;
}
@media only screen and (max-width: 1199px) {
  .simple-wrap2 .post h3 {
    padding: 16px 10px 10px;
  }
}
.simple-wrap2 .post p {
  padding: 0 16px;
}
.simple-wrap2 .post .post-info {
  padding-bottom: 42px;
}
.simple-wrap2 .post a.circle-more {
  position: absolute;
  left: 50%;
  margin-left: -49px;
  bottom: -92px;
}
@media only screen and (max-width: 767px) {
  .simple-wrap2 .post {
    margin-bottom: 75px;
  }
}

/*========================================================
                    simple wrap3
=========================================================*/
.simple-wrap3 {
  padding-top: 43px;
  padding-bottom: 190px;
}
.simple-wrap3 .post {
  position: relative;
  padding-bottom: 34px;
}
.simple-wrap3 .post h2 {
  padding: 39px 20px 0px;
}
.simple-wrap3 .post h3 {
  padding: 16px 0 10px;
}
.simple-wrap3 .post p {
  padding: 0 16px;
}
.simple-wrap3 .post .post-info {
  padding-bottom: 22px;
}
.simple-wrap3 .post a.circle-more {
  position: absolute;
  left: 50%;
  margin-left: -49px;
  bottom: -89px;
}
@media only screen and (max-width: 767px) {
  .simple-wrap3 .post {
    margin-bottom: 105px;
  }
}
@media only screen and (max-width: 767px) {
  .simple-wrap3 {
    padding-bottom: 90px;
  }
}
/*========================================================
                    wrapper1
=========================================================*/
.wrapper1 .post-image {
  float: left;
  margin-right: 28px;
}
@media only screen and (max-width: 767px) {
  .wrapper1 .post-image {
    float: none;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper1 {
    padding-bottom: 20px;
  }
}
.conf-pad4 {
  padding-top: 82px;
  padding-bottom: 102px;
}
.pt43 {
  padding-top: 43px;
}
.second_wrap {
  padding-bottom: 0;
}
.second_wrap h3 {
  padding-top: 0;
  padding-bottom: 10px;
}
.second_wrap p {
  padding-bottom: 18px;
  padding-right: 78px;
}
@media only screen and (max-width: 767px) {
  .second_wrap p {
    padding-right: 0;
  }
}
.pt17 {
  padding-top: 17px;
}
.pt51 {
  padding-top: 51px;
}
@media only screen and (max-width: 767px) {
  .pt51 {
    padding-top: 10px;
  }
}
.pt44 {
  padding-top: 44px;
}
.conf-pad5 {
  padding-top: 95px;
  padding-bottom: 162px;
}
.simple-post p {
  padding-bottom: 19px;
}
.pb75 {
  padding-bottom: 75px;
}
.texture_back3 {
  background: url('../images/texture_back3.jpg') 0 bottom no-repeat;
  padding-top: 92px;
  padding-bottom: 95px;
}
@media only screen and (max-width: 767px) {
  .texture_back3 {
    background-size: cover;
  }
}
/*========================================================
                    listing
=========================================================*/
.list {
  padding-top: 19px;
}
.list h3 {
  padding-bottom: 11px;
}
.list ul li {
  line-height: 36px;
  font-size: 18px;
  color: #e74c3c;
  position: relative;
  padding-left: 16px;
}
.list ul li a {
  color: #212121;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-family: Open Sans;
}
.list ul li a:hover {
  color: #e74c3c;
}
.list ul li:before {
  position: absolute;
  top: 10px;
  left: 0px;
  text-align: center;
  line-height: 13px;
  content: '\f111';
  font-size: 8px;
  font-family: 'FontAwesome';
  color: #e74c3c;
  display: inline-block;
}
.pt37 {
  padding-top: 37px;
}
.pt4 {
  padding-top: 4px;
}
.pb22 {
  padding-bottom: 22px;
}
.conf-pad6 {
  padding-top: 86px;
  padding-bottom: 150px;
}
span.price {
  font-size: 52px;
  line-height: 55px;
}
span.dwudaniowy {
  font-size: 26px	
}
.circle-2 {
  margin-top: 0 !important;
  margin-right: 34px !important;
}
.circle-2 p {
  padding-top: 55px !important;
}
.italic {
  font-size: 12px;
  line-height: 30px;
  font-style: italic;
  font-weight: 300;
  color: #afafaf;
  font-family: Open Sans;
  padding-top: 16px;
  text-align: right
}
.italic-orange {
  font-size: 30px;
  line-height: 30px;
  font-style: italic;
  font-weight: 300;
  color: #e74c3c;
  font-family: Open Sans;
}





/* dodane */
@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500);
h4 {
  font: 300 48px/48px "Ubuntu", sans-serif;
   color: #1f2531;
}

h5 {
  font: 300 18px/18px "Ubuntu", sans-serif;
  color: #979797;
}

h4, h5 {
  text-transform: uppercase;
}

#piast_logo {
	width: 250px;
	padding-top: 35px
}

.ikonki {
	width: 85px	
}

#hr_top {
  border: none;
  margin-top: 45px;
  margin-bottom: 35px;
  padding: 0;
  width: 228px;
  height: 2px;
  border-top: solid 2px #8f9198;
}

.hr_section {
  border: none;
  margin-top: 30px;
  margin-bottom: 90px;
  padding: 0;
  width: 40px;
  height: 2px;
  border-top: solid 2px #8f9198;
}

.font-primary {
  font: 300 18px/30px "Ubuntu", sans-serif;
}

.txt-wrap {
  text-align: center;
}

h4 + h5 {
  margin-top: 20px;
}

#white {
	color: #ffffff;
}

.map-wrap {
	position:relative; 
}
	
.overlay {
	width:100%;
	min-height:300px; 
	position:absolute; 
	top:0;
}

#piast {
	font-size: 35px;
	color: #f17e30
}

footer {
	font-size: 13px;
	font-weight: 400;
	color: #777;
	margin-top: 75px;
	background-color: #2c2c2c;
	padding: 40px 0 30px 0;
	text-align:center;
}

.address:before {
  content: '\f041';
}

.phone:before {
  content: '\f095';
}

.mail:before {
  content: '\f0e0';	
}

.firm:before {
  content: '\f0b1';	
}

.bank:before {
  content: '\f19c';	
}

.fb:before {
  content: '\f09a';	
}

.afb {
  color: #9fa6ae;
  -webkit-transition: color 0.6s; /* Safari */
  transition: color 0.6s;
}
.afb:hover {
  color: #f57e20
}

.address, .phone, .fb {
  position: relative;
  padding-left: 30px;
  font-size: 13px;
  margin-bottom: 15px
}

.firm, .bank, .mail {
  position: relative;
  padding-left: 35px;
  font-size: 13px;
  margin-bottom: 15px
}

.mail:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -10px;
  left: 2px;
  font-size: 15px;
  line-height: 28px;
  color: #f57e20;
}

.address:before, .phone:before, .fb:before{
  position: absolute;
  font-family: 'FontAwesome';
  top: -10px;
  left: 2px;
  font-size: 18px;
  line-height: 28px;
  color: #f57e20;
}

.firm:before, .bank:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -10px;
  left: 2px;
  font-size: 16px;
  line-height: 28px;
  color: #f57e20;
}

.linkdetails {
    width:180px;
    color:#FFF;
    padding:20px;
}

.pricing-table {
  width: 100%;
  text-align: left;
  font-size: 10px;
  color: #696969;
  text-transform: uppercase;
}
.pricing-table td {
  padding: 10px 0 4px 0px;
  vertical-align: middle;
  line-height: 2;
}
.pricing-table th {
  padding: 10px 0 8px 0px;
  vertical-align: middle;
  line-height: 2;
  color: #f57e20;
  font: 500 15px/15px "Ubuntu", sans-serif;
}


.menunag {
	font: 300 18px/18px "Ubuntu", sans-serif;
  	color: #fff;
  	text-transform: uppercase;
  	text-align:center;
	padding-bottom: 18px;
	background-color: #f57e20;
	width: 100%;
	padding-top: 18px;
}
.pricing-table tr:not(:first-child) {
  border-bottom: 1px solid #adacab;
}

.bgwhite_pt1 {
background-color: #ffffff;
padding-top: 90px;
border-left: 1.5px solid #f57e20;
border-right: 1.5px solid #f57e20;
border-top: 1.5px solid #f57e20;
}

.bgwhite_pt2 {
background-color: #ffffff;
padding-top: 100px;
border-left: 1.5px solid #f57e20;
border-right: 1.5px solid #f57e20;
}

.bgwhite_mid {
background-color: #ffffff;
padding-top: 15px;
border-left: 1.5px solid #f57e20;
border-right: 1.5px solid #f57e20;
}

.bgwhite_pt3 {
background-color: #ffffff;
padding: 15px 0 120px 0;
border-bottom: 1.5px solid #f57e20;
border-left: 1.5px solid #f57e20;
border-right: 1.5px solid #f57e20;
}

.pt100 {
	padding-top: 100px;	
}

.mt107 {
	margin-top: 107px;	
}

.mt72 {
	margin-top: 72px;	
}

.mt37 {
	margin-top: 37px;	
}
.underline {
border-bottom: 1px solid #adacab;
}

.inprice {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #f57e20;
  font-family: Open Sans;
  font-weight: 400;
  padding-top: 37px;
}

.dark_top_edge {
  position: relative;
}
.dark_top_edge:before {
  position: absolute;
  top: -8px;
  width: 100%;
  content: '';
  display: block;
  height: 8px;
  background: url('../images/dark_top_edge.png') repeat-x;
}

/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb + .thumb {
  margin-top: 30px;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  background: transparent;
}
.thumb_overlay:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px "FontAwesome";
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb_overlay__md {
  text-align: center;
}
.thumb_overlay__md .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -84px;
  padding: 0 20px;
}
.thumb_overlay__md .title p {
  position: relative;
  margin-top: 49px;
}
.thumb_overlay__md .title p:before {
  position: absolute;
  content: '\f111';
  font-family: 'FontAwesome';
  top: -29px;
  font-size: 10px;
  line-height: 10px;
  left: 50%;
  margin-left: -4px;
}
.thumb_overlay__md h6 {
  color: #fff;
}
.thumb_overlay__md:before {
  display: none;
}
@media (min-width: 768px) and (max-width: 979px) {
  .thumb_overlay__md .title {
    margin-top: -62px;
  }
  .thumb_overlay__md .title p {
    margin-top: 25px;
  }
  .thumb_overlay__md .title p:before {
    top: -15px;
  }
}
@media (max-width: 767px) {
  .thumb_overlay__md .title {
    margin-top: -54px;
  }
  .thumb_overlay__md .title p {
    margin-top: 15px;
    line-height: 20px;
  }
  .thumb_overlay__md .title p:before {
    top: -10px;
  }
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(218, 174, 79, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80DAAE4F', endColorstr='#80DAAE4F')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80DAAE4F', endColorstr='#80DAAE4F');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover .thumb_overlay__md {
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay__md {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.thumb:hover img {
  -moz-transform: scale(1.11);
  -ms-transform: scale(1.11);
  -o-transform: scale(1.11);
  -webkit-transform: scale(1.11);
  transform: scale(1.11);
}

.row {
  margin-top: 30px	
}


/* ========RESPFIX========== */
@media screen and (max-width: 768px) {
  .menucontent {
    display: flex;
    justify-content: center;
  }

  h4 {
    	font-size:35px;
  }

  h5 {
    	font-size:15px;
  }

  .font-primary {
  	font-size: 15px
  }

  .wrap-info {
  	text-align: center;	
  }

  .simple-wrap4 {
    padding-bottom: 0px;
    padding-top: 0px
  }

  .inprice {
    font-size: 14px	
  }

  .mt107, .mt37, .mt72 {
    margin-top: 0	
  }

  .pricing-table {
    margin-top: 35px	
  }

  .grid_7 {
    padding-bottom: 70px	
  }

  .respfix {
    margin-top: 70px	
  }

  .pb75 {
    padding-bottom: 35px	
  }

  .simple-wrap-3 .grid_4 {
  	padding-bottom: 70px
  }

  .bgwhite_pt1, .bgwhite_pt2, .bgwhite_pt3, .bgwhite_mid {
  	padding:10px	
  }

  .bgwhite_pt1 .row {
  	margin-top: 10px	
  }

  .bgwhite_pt2 .row {
  	margin-top: 10px	
  }
  .bgwhite_pt3 .row {
  	margin-top: 10px	
  }
  .bgwhite_mid .row {
  	margin-top: 0px	
  }

  .header-logo .logo-quote {
    font-family: Open Sans;
    color: #7f7f7f;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 20px;
  }
}


